.DS_Store
Thumbs.db

node_modules/
/build/
/public/build/

/package
package-lock.json
yarn.lock

.svelte-kit/
.svelte-kit/*
ambient.d.ts
internal.js

/static/uploads/*

.env.*
!.env.example
.vercel
.output

*.log
*.log.*
npm-debug.log*

vite.config.js.timestamp-*
vite.config.ts.timestamp-*
