.DS_Store
Thumbs.db
node_modules*
/build/
/package.json
/package-lock.json
.svelte-kit*
*ambient.d.ts
*internal.js
*$types.d.ts
/static/uploads/*
.env.*
!.env.example
.vercel
.output
*.log
vite.config.js.timestamp-*
vite.config.ts.timestamp-*